.bg-turquoise{
    background-color: #1ABC9C;
}
.text-turquoise{
    background-color: #1ABC9C;
}
.bg-amethyst{
    background-color: #9B59B6;
}
.text-amethyst{
    color: #9B59B6;
}
.container main{
    margin-top: 60px;
}


