.bg-turquoise {
    background-color: #1ABC9C;
}

.text-turquoise {
    background-color: #1ABC9C;
}

.bg-amethyst {
    background-color: #9B59B6;
}

.text-amethyst {
    color: #9B59B6;
}

.container main {
    margin-top: 60px;
}

.btn-bru {
    background-color: #7EB1D7;
}

.btn-nando {
    background-color: #155640;
}

.btn-bru svg, .btn-nando svg {
    width: 16px;
}

.carousel-control-prev, .carousel-control-next {
    background-color: rgba(0, 0, 0, .3);
}
